@font-face {
  font-family: 'Hagrid';
  font-weight: 500;
  font-display: block;
  src: url('./fonts/HagridMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Hagrid';
  font-weight: 300;
  font-display: block;
  src: url('./fonts/HagridLight.otf') format('opentype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

body {
  margin: 0 auto;
  padding: 80px 16px;
  background: url(./background.png) no-repeat center center #121621;
  background-size: cover;
  display: flex;
  width: calc(100% - 32px);
  max-width: 960px;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1, p {
  font-family: 'Hagrid';
  font-size: 24px;
  color: #FAF3EC;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  font-family: 'Hagrid';
  font-size: 24px;
  color: #FAF3EC;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 8px
}

.intro {
  max-width: calc(50% - 80px);
}

.logo {
  width: 120px;
  height: auto;
  margin: 0 0 40px -8px;
  align-self: flex-start;
}

label {
  font-family: 'Hagrid';
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FAF3EC;
  display: block;
  margin-bottom: 8px;
}

form {
  max-width: calc(50% - 80px);
  background: #121621;
  padding: 40px;
  border-radius: 8px;
  margin-top: 120px;
}

input, button {
  border-radius: 4px;
  font-family: 'Hagrid';
  font-size: 16px;
  line-height: 32px;
}

input {
  background: #121621;
  border: 1px solid #FAF3EC;
  color: #FAF3EC;
  padding: 12px;
  margin-bottom: 24px;
  width: calc(100% - 26px);
  font-weight: 300;
}

button {
  background: #FAF3EC;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  border: none;
  color:#121621;
  font-weight: 500;
}

.with-animated-text {
  width: 308px;
  height: 80px;
  background-size: contain !important;
  -webkit-animation: animated-text 6s infinite;
  -moz-animation: animated-text 6s infinite;
  animation: animated-text 6s infinite;
  margin: 40px 0;
}

@-webkit-keyframes animated-text {
  0% {
    background: url('./text_1.png');
  }
  32% {
    background: url('./text_1.png');
  }
  33% {
    background: url('./text_2.png');
  }
  65% {
    background: url('./text_2.png');
  }
  66% {
    background: url('./text_3.png');
  }
  99% {
    background: url('./text_3.png');
  }
  100% {
    background: url('./text_1.png');
  }
}

form + .with-animated-text {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1080px) {

  

}

@media only screen and (max-width: 720px) {

  body {
    flex-direction: column;
  }

  .intro, form {
    max-width: 100%;
    margin: 0;
  }
  
  form {
    background: none;
    padding: 0;;
  }

  .intro .with-animated-text {
    display: none;
  }

  form + .with-animated-text {
    display: block;
  }
}

@media only screen and (max-width: 480px) {



}